@font-face {
  font-family: "Areeb";
  src: url(./assets/fonts/ChauPhilomeneOne-Regular.ttf) format("truetype");
  /* Add additional font formats (e.g., woff, woff2) as needed */
}
@font-face {
  font-family: "Regular";
  src: url(./assets/fonts/Ubuntu-Regular.ttf) format("truetype");
  /* Add additional font formats (e.g., woff, woff2) as needed */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
html,
body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
.spinner {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
::selection {
  background-color: #343a40;
  color: #fff;
}
